<div class="container">
  <div class="row">
    <div class="col-md-4 offset-2">
      <h1>
        Error Could Not Process Request
      </h1>
      <h2>
        Please Contact Customer Services @ ***-***-**** for help
      </h2>
    </div>
  </div>
</div>
