
<div class="container pt-5 pb-5">
  <div class="row justify-content-md-center p-1">
    <div class="col-md-6">
      <h1> We're here to help !</h1>
      <br/>
      <h2> Please describe the problem you are facing in detail</h2>

      <%= render 'form', help: @help %>

    </div>
  </div>

</div>

