<div class="container-flex">
  <div class="row d-flex">
    <div class="col-md-6 offset-3 p-3">
      <h1 class="ml-4"> Our Privacy Policy </h1>
      <ul>
        <li>
          <h3> We Do Not Sell Our Users Data To 3rd Parties</h3>
        </li>
        <li>
          <h3> All User Information will remain confidential </h3>
        </li>
        <li>
          <h3> In the unfortunate Event Of a Data Breach all Users will be notified via text </h3>
        </li>
      </ul>
    </div>
  </div>
</div>